@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(30, 38%, 92%);
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    padding: 2rem 0.5rem;
}

main {
    max-width: 700px;
    background-color: white;
    display: flex;
    border-radius: 10px;
}

.img-desktop {
    width: 50%;
    vertical-align: middle;
    border-radius: 10px 0 0 10px;
}

.img-mobile {
    display: none;
}

.content {
    padding: 2.5rem;
    width: 50%;
}

.category {
    color: hsl(228, 12%, 48%);
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 1rem;
}

.title {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.5rem;
    margin-bottom: 2rem;
}

.text {
    color: hsl(228, 12%, 48%);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5rem;
    margin-bottom: 2rem;
}

.saleprice {
    font-size: 2.4rem;
    color: hsl(158, 36%, 37%);
    font-weight: 700;
    margin-right: 1.5rem;
    vertical-align: middle;
}

.price {
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
}

button {
    margin-top: 2rem;
    display: block;
    width: 100%;
    background-color: hsl(158, 36%, 37%);
    padding: 1rem 3rem;
    color: white;
    font-weight: 700;
    border: none;
    border-radius: 8px;
}

button img {
    width: 16px;
    vertical-align: middle;
    margin-right: 10px;
}

button:hover {
    background-color: hsl(158, 42%, 18%);
}

.title,
.saleprice {
    font-family: 'Fraunces', sans-serif;
}

@media screen and (max-width:600px) {
    main {
        width: 95%;
        flex-direction: column;
    }

    .img-desktop {
        display: none;
    }

    .img-mobile {
        display: block;
        width: 100%;
        border-radius: 10px 10px 0 0;
    }

    .content {
        padding: 1.75rem;
        width: 100%;
    }
}